<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <include file="_layout/mall.head.html" title="开启佣金设置" />
    <style>
        ul li a{display:flex;justify-content: space-between;align-items:center;line-height:50px;border-bottom:1px solid #bbbbbb;padding-left: 1em;padding-right: 1em;}
        span.triangle{display:inline-block;width:7px;height:7px;border-top:2px solid #a6a6a6;border-right:2px solid #a6a6a6;transform:rotate(45deg);}
    </style>

</head>
<body style="background-color:white;">
    <ul>
        <li><a href="/seller/commision/promoters_set"><span>设置</span><span class="triangle"></span></a></li>
        <li><a href="/seller/commision/promoters_recruit"><span>招募</span><span class="triangle"></span></a></li>
        <li><a href="/seller/agent/manager"><span>管理</span><span class="triangle"></span></a></li>
    </ul>
</body>
</html>