<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <include file="_layout/mall.head.html" title="开店说明" />
</head>
<body>
    <p style="width:92%;font-size:14px;line-height:2em;text-indent:2em;color:#2b2b2b;margin:0 auto;margin-top:40px;">开店工具（以下简称“开店”）是向用户提供快速打造自有商城的互联网工具，为用户提供了绑定自有支付账户，实名认证等保障措施。客户通过工具可以方便的创建自己的商城与发布产品、分享推广、快速获得订单，并完成收单支付到的自己账户。</p>
    <a href="/seller/login" style="display:block;width:92%;height:40px;line-height:40px;background-color:#da8f3e;color:white;text-align:center;font-size:16px;border-radius:6px;margin:0 auto;margin-top:40px;">马上去开店</a>
</body>
</html>
