<div id="feedback_form" method="post" action="__ACTION__?id={$data['mid']}" class="modal modal-small hide fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3>备注</h3>
    </div>
    <div class="modal-body">
        <textarea class="js-question" placeholder="请输入您的备注，不多于64个字符" maxlength="64" style="margin: 0px; width: 514px; height: 130px;">{$data['remark']}</textarea>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn" data-dismiss="modal" aria-hidden="true">关闭</button>
        <button type="button" class="btn btn-primary" aria-hidden="true">保存</button>
    </div>
    <script type="text/javascript">
        (function() {
            var $form = $('#feedback_form'),
                $remark = $form.find('.js-question');
            $form.modal().on('hidden', function(){
                $form.remove();
                return false;
            });

            $form.find('.btn-primary').on('click', function(){
                var remark = $remark.val();
                $.ajax({
                    url: '__MODULE__/member/member_remark',
                    data:{id: {$data['mid']}, remark: remark},
                    type: 'post'
                });
                $form.modal('hide');
                return false;
            });
        })();
    </script>
</div>