<form id="catEditModal" class="modal modal-small hide fade form-horizontal" tabindex="-1" role="dialog" aria-hidden="true" method="post" action="__ACTION__" data-validate="true" data-submit="ajax" >
  <div class="modal-header">
	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
	   <h3>编辑类目</h3>
  </div>
  <div class="modal-body">
    <input type="hidden" name="id" value="{$data.id}">
    <input type="hidden" name="pid" value="{$data.pid}" class="js-pid">
    <div class="control-group">
		<label class="control-label must">一级类目</label>
		<div class="controls">
			<select class="js-p1">
				<option value="0">一级类目</option>
                <foreach name="list1" item="item">
               	<option value="{$item.id}" {$item['id'] == $data['pid'] ? ' selected="selected"' : ''}>{$item.name}</option>
                </foreach>
            </select>
        </div>
    </div>  
	<div class="control-group hide">
	  <label class="control-label">二级类目</label>
      <div class="controls">
	    <select class="js-p2">
            <option value="0">请选择</option>
        </select>
      </div>
    </div> 
    <div class="control-group">
      <label class="control-label must">类目名称</label>
      <div class="controls">
        <input type="text" name="name" value="{$data.name}" placeholder="最多6个字符" maxlength="6" required="required">
      </div>
    </div>
    <div class="control-group"> 
      <label class="control-label">类目排序</label>
        <div class="controls">
          <input type="text" value="{$data.sort}" data-rule-number="number" name="sort" placeholder="数字越大越靠前" maxlength="6">
        </div>
    </div>
    <div class="control-group hide"> 
      <label class="control-label">类目分组</label>
      <div class="controls">
        <input type="text" value="{$data.group}" name="group" placeholder="如：nvzhuang" maxlength="6">
      </div>
    </div>
    <div class="control-group">
      <label class="control-label">类目图标</label>
        <div class="controls">
          <input class="hide" type="text" name="icon" value="{$data.icon}" readonly="readonly"  data-msg-required="请上传图标">
          <img id="shop_logo" src="{$data.icon}" class="img-polaroid btn-up" alt="logo" style="width: 64px; height: 64px;">
        </div>
    </div> 
  </div>
  <div class="modal-footer">
  	<button type="button" class="btn" data-dismiss="modal" aria-hidden="true">关闭</button>
  	<button type="submit" class="btn btn-primary" aria-hidden="true">保存</button>
  </div>
</form>

<script type="text/javascript" src="/ueditor/ueditor.config.js"></script>
<script type="text/javascript" src="/ueditor/ueditor.all.min.js"></script>
<div style="display: none;" id="editor" class="edui-default"></div>
<style>.modal{z-index:600}.modal-backdrop{z-index:500}</style>
<script>
$(function(){
	var $modal = $('#catEditModal');
	var $select1 = $modal.find('.js-p1'), $select2 = $modal.find('.js-p2'), $pid = $modal.find('.js-pid');
	var category2 = {$list2};
	$select1.on('change', function(){
		var pid = this.value, $control = $select2.parent().parent();
		var html = '<option value="'+pid+'">请选择</option>';
		var list = category2[pid];
		if(list){
			for(var i=0; i<list.length; i++){
				html += '<option value="'+list[i].id+'">'+list[i].name+'</option>'
			}
		}
		
		if(pid == 0 || !list || list.length == 0){
			$control.hide()
		}else{
			$control.show()
		}
		$select2.html(html);
		$pid.val(pid);
		return false;
	}).val({$pid1}).trigger('change');
	$select2.on('change', function(){
		$pid.val(this.value);
		return false;
	}).val({$data.pid});
	
	var editor = UE.getEditor('editor',{isShow: false})
	$('#shop_logo').on('click', function(){
		var $img = $(this);
		var $input_url = $img.prev();
		editor.removeListener('beforeInsertImage');
		editor.addListener('beforeInsertImage', function (t, list) {
			$input_url.val(list[0]['src']);
			$img.attr('src', list[0]['src']);
        });
		
		editor.getDialog("insertimage").open();
	});
});
</script>