
	<style>
		.modal h4{text-align: center;
    padding: 15px 0;
    font-size: 16px;
    line-height: 20px;}
		.form .block-item>label{width: 100%;}
		.form .block-item>label.label-right{text-align:right;    padding-right: 10px;}
		.form .label-right input{text-align:right;padding: 0;}
		.form .block-item{    margin-left: 10px;}
		.form .block-item select{position:absolute;left:0;right:0;bottom:0;top:0;opacity:0;}
		.form input[type="file"]{position:absolute;left:0;right:0;bottom:0;top:0;opacity:0;}
		.form .refund-imgs{width:90%;padding: 10px 10px 5px 0;color:#888}
		.form .refund-imgs img{width:24px;height:24px;margin-right:10px;}
		.form input.input-express{border-bottom: 1px solid rgb(0, 136, 204);padding: 0px;width: 110px;display: inline-block;text-align:center;}
	</style>

<div id="refund_modal">
	<div class="js-cancel modal-backdrop"></div>
	<div class="modal">
		<h4>退货退款</h4>
		<div class="js-cancel cancel-img"></div>
		<input type="hidden" id="refund_id" value="{$refund[refund_id]}">
		<input type="hidden" id="tid" value="{$refund[tid]}">
		<input type="hidden" id="refund_quantity" value="{$refund[refund_quantity]}">
		<div class="block form" style="margin:0;">
			<notempty name="refund['receiver_address']">
			<div class="block-item">
				<label>退货地址：{$refund['receiver_address']}</label>
			</div>
			</notempty>
			<if condition="$can_change_express">
			<div class="block-item">
				<label style="padding-right:10px">退货运单号：{$refund.refund_express}
				</label>
			</div>
			<elseif condition="$refund['refund_express']"/>
			<div class="block-item">
				<label style="width:50%">退货运单号</label>
				<label style="width:50%" class="label-right">{$refund['refund_express']}</label>
			</div>
			</if>
			<div class="block-item">
				<label style="width:50%">{$data['is_received']['text']}</label>
				<label style="width:50%" class="label-right">{$data['refund_type']['text']}</label>
			</div>
			<div class="block-item">
				<label style="width:80%">退款金额：<i style="color:#888;font-size:10px;"></i></label>
				<label style="width:20%" class="label-right">{$data['refund_fee']}元</label>
			</div>
			<div class="block-item">
				<label style="width:100%;padding-right:10px">退款理由：{$data.reason}。{$data.refund_remark}</label>
			</div>
			<div class="block-item">
				<label class="refund-imgs" id="refund_image_list">
				<foreach name="data['refund_images']" item="src">
					<img src="{$src}" data-src="{$src}">
				</foreach>
				</label>
				<!-- <label class="label-right" style="width:32px;padding: 10px 10px 5px 10px;position: relative;">
					<img src="__CDN__/img/mall/camera.png" style="width:24px;height:24px;">
				</label> -->
			</div>
		</div>
		<php>if(!empty($refund['refund_express'])){</php>
			<div class="half-button">
				<button type="button" id="cancel_refund" class="btn btn-block">取消退款</button>
			</div>
			<div class="half-button">
				<button type="button" id="refundNow" class="btn btn-block btn-red">立即退款</button>
			</div>
		<php>}else{</php>
			<php>if($refund['refund_status'] == 12){</php>
			<div class="button">
				<button type="button" id="cancel_refund" class="btn btn-block">取消退款</button>
			</div>
			<php>}</php>
		<php>}</php>
	</div>
	<script>
	(function(){
		var $modal = $('#refund_modal'),
		$express = $modal.find('.js-express');
		//$express.css('width', $modal.width() - $express.offset().left - 20);

		var post = {$post};

		$modal.find('.js-cancel').on('click', function(){
			$modal.remove();
			return false;
		});
		
		// 保存
		$('#refundNow').on('click', function(){
			post.refund_sremark = post.refund_remark;
			post.tid = $("#tid").val();
			post.refund_id = $("#refund_id").val();
			post.refund_quantity = $("#refund_quantity").val();
			post.refund_post = 0.00;
			post.refund_type = 1;
			post.action = "refundNow";
			delete(post.refund_remark);
			delete(post.refund_images);

			//console.log(post);return false;
			$.ajax({
				url: '/seller/refund/handle',
				type: 'post',
				data: post,
				dataType: 'json',
				success: function(){
					window.location.reload();
				}
			});
			return false;
		});

	    // 取消退款
		$('#cancel_refund').on('click', function () {
		    if (!confirm('取消后系统不再支持您退款，确定取消吗？')) {
		        return false
		    }

		    post.refund_sremark = post.refund_remark;
			post.tid = $("#tid").val();
			post.refund_id = $("#refund_id").val();
			post.refund_quantity = $("#refund_quantity").val();
			post.refund_post = 0.00;
			post.refund_type = 1;
			post.action = "cancel";
			delete(post.refund_remark);
			delete(post.refund_images);

			//console.log(post);return false;
			$.ajax({
				url: '/seller/refund/handle',
				type: 'post',
				data: post,
				dataType: 'json',
				success: function(){
					window.location.reload();
				}
			});
			return false;
		});
	})();
	</script>
</div>