<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <include file="_layout/mall.head.html" />
    <style type="text/css">
    .notice-container{}
    .notice-item{display:block;padding:14px;border-bottom:1px solid #ddd;background-color:#fff}
    .notice-title{font-size:14px;font-weight:bold;color:#333;letter-spacing:1px}
    .notice-info{margin-top:10px;color:#A2A0A0}
    .notice-tag{}
    .notice-tag .tag{margin-right:6px}
    .notice-created{margin-left:4px}
    .notice-pv{float:right}
    </style>
</head>
<body class="body-fixed-bottom">
    <div class="container">
        <div class="content">
            <div class="notice-container js-notice-container"><div style="text-align:center; color:#ddd; padding-top:100px">正在加载中...</div></div>
        </div>
        <include file="_layout/mall.copyright.html" />
    </div>
    <include file="_layout/mall.footer.html" />
    <script type="text/javascript">
    require(['module/notice']);
	</script>
</body>
</html>