<form method="post" action="__ACTION__" data-validate="true" data-continue="true"
      data-submit="ajax" class="form-horizontal modal modal-small hide fade" tabindex="-1" role="dialog" aria-hidden="true">
    <input name="account_id" value="{$data.id}" type="hidden">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3>{$data['id'] ? '修改' : '添加'}信息</h3>
    </div>
    <div class="modal-body">
        <div class="control-group ">
            <label class="control-label must">商城域名</label>
            <div class="controls">
                <input type="text" name="url" readonly="readonly" class="required" value="{$data.url}">
            </div>
        </div>
        <div class="control-group ">
            <label class="control-label must">公众号appid</label>
            <div class="controls">
                <input type="text" name="appid" readonly="readonly" class="required" value="{$data.appid}">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label must">会员卡</label>
            <div class="controls">
                <select name="card_id">
                    <option value ="0" {0 == $data['card_id'] ? 'selected="selected"' : ''}>游客</option>
                    <foreach name="cards" item="vo">
                        <option value ="{$vo.id}" {$vo['id'] == $data['card_id'] ? 'selected="selected"' : ''}>{$vo.title}</option>
                    </foreach>
                </select>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label must">首次赠送积分</label>
            <div class="controls">
                <input type="text" name="give_score" placeholder="请填写积分" class="required number" min="0" maxlength="10" value="{$data.give_score}">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label must">首次赠送钱包金额</label>
            <div class="controls">
                <input type="text" name="give_wallet" placeholder="请填写金额" class="required number" min="0" maxlength="10" value="{$data.give_wallet}">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label must">赠送优惠券id</label>
            <div class="controls">
                <input type="text" name="give_coupon" placeholder="请填写优惠券id" class="required number" min="0" maxlength="10" value="{$data.give_coupon}">
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">关闭</button>
        <button type="submit" class="btn btn-primary" aria-hidden="true">保存</button>
    </div>
</form>
