<toolbar id="toolbar" class="toolbar">
</toolbar>


<!-- 表格 -->
<table id="table" data-toggle="gridview" class="table table-hover" data-pagination="false" data-url="__ACTION__" data-toolbar="#toolbar" >
    <thead>
    <tr>
        <th data-width="40" data-checkbox="true"></th>
        <th data-field="url">商城域名</th>
        <th data-field="appid">公众号appid</th>
        <th data-field="created">创建时间</th>
        <th data-field="title">会员卡</th>
        <th data-field="card_expire">会员有效天数</th>
        <th data-field="give_score">首次赠送积分</th>
        <th data-field="give_wallet">首次赠送钱包金额</th>
        <th data-field="give_coupon">赠送优惠券id</th>
    </tr>
    </thead>
</table>