<form method="post" action="__ACTION__?id={$data.id}" data-validate="true" data-continue="true" data-submit="ajax" class="form-horizontal" data-success="back">
  <div class="form-group">
	  <div class="form-item">
		  <div class="control-group">
		    <label class="control-label must">等级名称</label>
		    <div class="controls">
		      <input type="text" name="title" required="required" placeholder="代理等级名称" value="{$data.title}" >
		    </div>
	  	  </div>
	  	  <div class="control-group" title="数字越大等级越高">
		    <label class="control-label must">会员卡等级</label>
		    <div class="controls">
			    <select name="id" class="required"{$data['quantity'] > 0 ? 'disabled="disabled"' : ''}>
					<foreach name="levels" item="id">
						<option value="{$id}" {$data['id'] == $id ? "selected='selected'" : "" }>{:substr($id, -1)}级</option>
					</foreach>
				</select>
		    </div>
	  	  </div>
	  	  <div class="control-group">
		    <label class="control-label must">佣金结算时间</label>
		    <div class="controls">
		      <select name="settlement_type" class="required" >
					<option value="0" {$data['settlement_type'] == 0 ? "selected='selected'" : "" }>不参与结算</option>
					<option value="4" {$data['settlement_type'] == 4 ? "selected='selected'" : "" }>确认收货后(推荐)</option>
					<option value="5" {$data['settlement_type'] == 5 ? "selected='selected'" : "" }>评价后</option>
					<option value="1" {$data['settlement_type'] == 1 ? "selected='selected'" : "" }>手动结算</option>
					<option value="2" {$data['settlement_type'] == 2 ? "selected='selected'" : "" }>付款后</option>
					<option value="3" {$data['settlement_type'] == 3 ? "selected='selected'" : "" }>发货后</option>
				</select>
		    </div>
	  	  </div>
	  	  <div class="control-group">
		    <label class="control-label">上一级佣金</label>
		    <div class="controls">
		      <input type="text" name="agent_rate" placeholder="商品成交价的百分比" value="{$data.agent_rate}" data-rule-range="0,50">
		    </div>
	  	  </div>
	  	  <div class="control-group">
		    <label class="control-label">上二级佣金</label>
		    <div class="controls">
		      <input type="text" name="agent_rate2" placeholder="商品成交价的百分比" value="{$data.agent_rate2}" data-rule-range="0,50">
		    </div>
	  	  </div>
	  	  <div class="control-group">
		    <label class="control-label">同级佣金</label>
		    <div class="controls">
		      <input type="text" name="agent_same" placeholder="商品成交价的百分比" value="{$data.agent_same}" data-rule-range="0,50">
		    </div>
	  	  </div>
	  	 </div>
	  <div class="form-item">
	  	  <div class="control-group">
		    <label class="control-label">有效天数</label>
		    <div class="controls">
		      <input type="text" name="expire_time" placeholder="多少天后过期；默认永久" value="{$data.expire_time}" >
		    </div>
	  	  </div>
	  	  <div class="control-group">
		    <label class="control-label">会员权益</label>
		    <div class="controls" >
		      <select name="zk1" style="width:100px">
					<option value="10" {$data['zk1'] == 10 ? "selected='selected'" : ""}>无</option>
					<option value="9" {$data['zk1'] == 9 ? "selected='selected'" : ""}>9</option>
					<option value="8" {$data['zk1'] == 8 ? "selected='selected'" : ""}>8</option>
					<option value="7" {$data['zk1'] == 7 ? "selected='selected'" : ""}>7</option>
					<option value="6" {$data['zk1'] == 6 ? "selected='selected'" : ""}>6</option>
					<option value="5" {$data['zk1'] == 5 ? "selected='selected'" : ""}>5</option>
					<option value="4" {$data['zk1'] == 4 ? "selected='selected'" : ""}>4</option>
					<option value="3" {$data['zk1'] == 3 ? "selected='selected'" : ""}>3</option>
					<option value="2" {$data['zk1'] == 2 ? "selected='selected'" : ""}>2</option>
					<option value="1" {$data['zk1'] == 1 ? "selected='selected'" : ""}>1</option>
			  </select>&nbsp;.&nbsp;
			  <select name="zk2" style="width:107px">
					<option value="0" {$data['zk2'] == 0 ? "selected='selected'" : ""}>0</option>
					<option value="8" {$data['zk2'] == 8 ? "selected='selected'" : ""}>8</option>
					<option value="7" {$data['zk2'] == 7 ? "selected='selected'" : ""}>7</option>
					<option value="6" {$data['zk2'] == 6 ? "selected='selected'" : ""}>6</option>
					<option value="5" {$data['zk2'] == 5 ? "selected='selected'" : ""}>5</option>
					<option value="4" {$data['zk2'] == 4 ? "selected='selected'" : ""}>4</option>
					<option value="3" {$data['zk2'] == 3 ? "selected='selected'" : ""}>3</option>
					<option value="2" {$data['zk2'] == 2 ? "selected='selected'" : ""}>2</option>
					<option value="1" {$data['zk2'] == 1 ? "selected='selected'" : ""}>1</option>
					<option value="9" {$data['zk2'] == 9 ? "selected='selected'" : ""}>9</option>
			  </select>
			  <span>折</span>
		    </div>
	  	  </div>
	  	  <div class="control-group">
		    <label class="control-label">价格</label>
		    <div class="controls">
		      <input type="text" name="price" placeholder="需购买才能成为此级别会员" value="{$data.price}" min="1">
		    </div>
	  	  </div>
	  	  <div class="control-group">
		    <label class="control-label">自动升级订单笔数</label>
		    <div class="controls">
		      <input type="text" name="auto_trade" placeholder="默认禁止自动升级" value="{$data.auto_trade}" >
		    </div>
	  	  </div>
	  	  <div class="control-group">
		    <label class="control-label">自动升级-消费金额</label>
		    <div class="controls">
		      <input type="text" name="auto_payment"  placeholder="默认禁止自动升级" value="{$data.auto_payment}" >
		    </div>
	  	  </div>
	  	  <div class="control-group">
		    <label class="control-label">自动升级-积分</label>
		    <div class="controls">
		      <input type="text" name="auto_score" placeholder="默认禁止自动升级" value="{$data.auto_score}" >
		    </div>
	  	  </div>
	  </div>
  </div>
	<div class="form-actions">
	  <button type="submit" class="btn btn-primary">保存</button>
	  <button type="button" class="btn btn-back">返回</button>
	</div>
</form>
<script type="text/javascript" src="/ueditor/ueditor.config.js"></script>
<script type="text/javascript" src="/ueditor/ueditor.all.min.js"></script>
<div style="display: none;" id="editor" class="edui-default"></div>
<script>
$(function(){
	var editor = UE.getEditor('editor',{isShow: false})
	$('#shop_logo').on('click', function(){
		var $img = $(this);
		var $input_url = $img.prev();
		editor.removeListener('beforeInsertImage');
		editor.addListener('beforeInsertImage', function (t, list) {
			$input_url.val(list[0]['src']);
			$img.attr('src', list[0]['src']);
        });
		
		editor.getDialog("insertimage").open();
	});
});
</script>