<toolbar id="toolbar" class="toolbar">
</toolbar>
<!-- 表格 -->
<table id="table" data-toggle="gridview" class="table table-hover" data-pagination="false" data-side-pagination="client" data-url="__ACTION__" data-toolbar="#toolbar" >
    <thead>
		<tr>
			<th data-width="40" data-checkbox="true"></th>
			<th data-field="title" data-width="100">等级名称</th>
			<th data-field="expire_time" data-width="70" data-align="center">有效天数</th>
            <th data-field="discount" data-width="70" data-align="center">会员折扣</th>
			<th data-field="commision" data-width="90" data-align="center">佣金百分比</th>
            <th data-field="settlement_type" data-width="170" data-align="center">结算时间</th>
			<th data-field="condition">升级方式</th>
		</tr>
	</thead>
</table>